<header>
    <div class="p-5 text-center bg-light" style="margin-top: 58px;">
        <h1 class="mb-3">Player stats</h1>
        <h4 class="mb-3">Class: {{player.role}}</h4>
        <h4 class="mb-3">Race: {{player.race}}</h4>
        <h4 class="mb-3">Overall level: {{player.level}}</h4>
    </div>
</header>

<div class="list-group">
    <a *ngFor="let skill of skills" routerLink="/all-skills" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2">{{skill.name}}</h5>
            <small>Skill priority: {{skill.priority}}</small>
        </div>
        <p class="mb-1">Orientation: {{skill.orientation}}, Type: {{skill.type}}
        </p>
        <small>Current level: </small>
        <mdb-badge pill="true" primary="true">{{skill.level}}</mdb-badge>
        <button type="button" *ngIf="!hasSubset(skill.id-1)" (click)="incSkill(skill.id)" class="btn btn-primary">Increase skill</button>
        <div class="btn-group">
            <button type="button" *ngFor="let sub of getSubsets(skill.id-1)" (click)="incSubset(skill.id, sub)" class="btn btn-primary">Increase {{sub}} <span class="badge badge-light">{{getSubsetLevel(skill.id-1, sub)}}</span></button>
        </div>
        <button type="button" class="btn btn-info" (click)="openNodes(skill.id, skill.name)">Show skill nodes</button>
    </a>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{selected}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="treeview" data-open-on-click="true">
            <ul *ngFor="let node of nodes">
                <li>{{node.name}}</li>
                <ul class="show">
                    <li>{{node.description}}</li>
                    <li>Skill level needed: {{node.skillLevelNeeded}}</li>
                    <li>Activated: {{node.activated}}</li>
                    <li>Available: {{node.perksAvailable}}</li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>